server:
  port: 8080
spring:
  application.name: api-gateway
  cloud:
    gateway:
      server:
        webflux:
          # ******** DEFINIR LAS RUTAS DE CADA MICROSERVICIO UNA VEZ ESTE CREADO *********
          routes:
            - id: products
              uri: http://localhost:8082
              predicates:
                - Path=/api/products/**
              filters:
                - StripPrefix=1

            - id: userManagement-auth
              uri: http://localhost:8081
              predicates:
                - Path=/api/auth/**
              filters:
                - StripPrefix=0

            - id: userManagement-profile
              uri: http://localhost:8081
              predicates:
                - Path=/api/user/**
              filters:
                - StripPrefix=0


          trusted-proxies: '127\.0\.0\.1|::1'

management:
  endpoints:
    web:
      exposure:
        include: "health,info,metrics"
