
<header class="w-full px-4 sm:px-5 py-4 flex items-center shadow-md lg:block">

  <div class="flex items-center justify-center lg:justify-between w-full">

    <app-logo-01></app-logo-01>

    <nav class="hidden lg:flex items-center gap-6">
      <a routerLink="explore" class="text-white hover:text-red-500 transition">
        Explora
      </a>
      <a href="#destines" class="text-white hover:text-red-500 transition">
        Destinos
      </a>
      <a href="#offers" class="text-white hover:text-red-500 transition">
        Ofertas
      </a>
      <a routerLink="login" class="text-white hover:text-red-500 transition">
        Inicia sesión
      </a>
    </nav>
      
  </div>

</header>
