.map-wrapper {
  width: 50%;
  height: 800px;
  min-height: 400px;
  border-radius: 12px;
  overflow: hidden;
  background: #111;
}

:host {
  display: block;
  width: 100%;
  height: 100%;
}

#map {
  width: 100%;
  height: 100%;
}

.motel-div-icon i {
  font-size: 20px;
  color: #ff5a5f;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.motel-div-icon i.marker-active {
  color: #0066ff;
  transform: scale(1.25);
}

.user-div-icon i,
.user-marker-icon {
  font-size: 22px;
  color: #00b300;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}