server:
  port: 8083

spring:
  application:
    name: motel-management-service

  r2dbc:
    url: ${SPRING_R2DBC_URL}
    username: ${SPRING_R2DBC_USERNAME}
    password: ${SPRING_R2DBC_PASSWORD}
    pool:
      initial-size: 5
      max-size: 15
      max-idle-time: 30m
      max-acquire-time: 3m

  sql:
    init:
      mode: never

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

logging:
  level:
    org.springframework.r2dbc: INFO
    io.r2dbc.postgresql: INFO
