<div class="shrink-0 ms:max-w-[215px] ">
    <div class="w-auto h-auto bg-[#1e2128] rounded-2xl overflow-hidden shadow-lg">
        
        <!-- Imagen -->
        <img [src]="card.imagen" [alt]="card.type" class="w-full h-48 object-cover">

        <div class="p-4">

            <!-- Tipo de habitación -->
            <h2 class="text-white text-base font-bold  mb-1">
                {{ card.type }}
            </h2>

            
            <!-- Descripción (condicional) -->
            @if (showDescription) {
                <p class="text-gray-300 text-xs mb-3 min-h-8 line-clamp-2">
                    {{ card.descripcion }}
                </p>
            }

            <div class="flex-wrap gap-3 justify-center sm:flex">
                <app-button-01 text="Reserva"></app-button-01>
                <app-button-02 
                    text="Ver más"
                    routerLink="['/product-room', card.id]">
                </app-button-02>
            </div>
        </div>
    </div>
</div>