<div class="flex-shrink-0">
    <div class="w-auto h-auto bg-[#1e2128] rounded-2xl overflow-hidden shadow-lg">
        
        <!-- Imagen -->
        <img [src]="card.imagen" [alt]="card.tipo" class="w-full h-48 object-cover">

        <div class="p-4">

            <!-- Tipo de habitación -->
            <h2 class="text-white text-lg font-bold italic mb-1">
                {{ card.tipo }}
            </h2>

            
            <!-- Descripción (condicional) -->
            @if (showDescription) {
                <p class="text-gray-300 text-xs mb-3 text-elipsis min-h-8">
                    {{ card.descripcion }}
                </p>
            }

            <div class="flex gap-3 justify-center">
                <app-button-01 [text]="textButton1" class="flex-1"></app-button-01>
                <app-button-02 [text]="textButton2" class="flex-1"></app-button-02>
            </div>
        </div>
    </div>
</div>