<form method="get" class="w-full max-w-md px-4 sm:px-6 lg:px-0 mx-auto rounded-lg space-y-4 flex flex-col justify-center">

  <!-- Ubicación -->
  <div>
    <label class="text-sm text-white">Ubicacion</label>
    <input 
      type="text" 
      placeholder="Donde quieres ir?" 
      class="w-full mt-1 bg-white border border-white text-black-200 placeholder-black-400 px-3 py-2 rounded-lg focus:outline-none focus:border-gray-400"
    />
  </div>

  <!-- Fecha -->
  <div>
    <label class="text-sm text-white">Fecha</label>
    <input 
      type="text" 
      placeholder="Fecha / Hora" 
      class="w-full mt-1 bg-white border border-white text-black-200 placeholder-white-400 px-3 py-2 rounded-lg focus:outline-none focus:border-gray-400"
    />
  </div>

  <!-- Filtros rápidos -->
  <div>
    <label class="text-sm text-white">Filtros rapidos</label>
    <input 
      type="text" 
      placeholder="Jacuzzi, parqueadero..." 
      class="w-full mt-1 bg-white border border-white text-black placeholder-black-400 px-3 py-2 rounded-lg focus:outline-none focus:border-gray-400"
    />
  </div>

  <!-- Botón -->
  <app-button-01 text='Buscar' [fullWidth]="true"></app-button-01>

</form>

<!-- CARRUSEL 1: Mejores Ofertas -->
<div class="mb-8 sm:mb-12" id="offers">

  <div class="flex justify-between items-center px-4 sm:px-6 py-4">
    <p class="text-lg sm:text-xl text-white font-bold">Mejores ofertas</p>
    <a href="#" class="text-xs sm:text-sm text-white hover:underline">Ver todas las ofertas ></a>
  </div>
  
  <!-- Scroll Horizontal -->
 
    <div class="flex overflow-x-auto [&::-webkit-scrollbar]:hidden [-ms-overflow-style:none] [scrollbar-width:none] scroll-smooth gap-2.5 px-4 sm:px-6">
      @for (oferta of mejoresOfertas; track oferta.id) {
        <app-card 
          [card]="oferta"
          class=""
        ></app-card>
      }
    </div>

</div>

<!-- CARRUSEL 2: Moteles Cercanos -->
<div class="mb-8 sm:mb-12">
  <div class="flex justify-between items-center px-4 sm:px-6 py-4">
    <p class="text-lg sm:text-xl text-white font-bold">Moteles más cercanos</p>
    <a href="#" class="text-xs sm:text-sm text-white hover:underline">Ver todos ></a>
  </div>
  

    <div class="flex overflow-x-auto [&::-webkit-scrollbar]:hidden [-ms-overflow-style:none] [scrollbar-width:none] scroll-smooth gap-2.5 px-4 sm:px-6">
      @for (motel of motelesCercanos; track motel.id) {
        <app-card [card]="motel"></app-card>
      }
    </div>

</div>

<!-- CARRUSEL 3: Destinos Populares -->
<div class="mb-8 sm:mb-12" id="destines">
  <div class="flex justify-between items-center px-4 sm:px-6 py-4">
    <p class="text-lg sm:text-xl text-white font-bold">Destinos Populares</p>
    <a href="#" class="text-xs sm:text-sm text-white hover:underline">Ver todos ></a>
  </div>
  

    <div class="flex overflow-x-auto [&::-webkit-scrollbar]:hidden [-ms-overflow-style:none] [scrollbar-width:none] scroll-smooth gap-2.5 px-4 sm:px-6">
       @for (destino of destinosPopulares; track destino.id) {
        <app-card [card]="destino"></app-card>
      }
    </div>

</div>