<h1>Vista Explorar</h1>

<aside class="filter ">
  <section class="services">
    <h3>Servicios</h3>

    @for (feat of motels; track feat.id) {
    <label>
      <input type="checkbox" [value]="feat" (change)="onFeatureChange($event)" />
      {{ feat }}
    </label>
    }
  </section>

  <section class="results">
    <br />
    <h2>Todos los moteles</h2>
    <br />
    
    @for (item of filteredRooms; track item.room.id) {
  <app-card-3
    [title]="item.room.name"
    [location]="item.location"
    [price]="item.room.price"
    [hours]="3"
    [services]="item.room.features"
  />
}
  </section>
</aside>

