<div class="bg-[#1e2128] text-white rounded-3xl p-8 w-[500px] max-w-full relative">

  <button
    class="absolute top-3 right-3 text-xl"
    (click)="close()">✕</button>

  @if (loading) {
    <div class="text-center py-6">Cargando habitación...</div>
  }

  @if (!loading && room) {

    <h2 class="text-2xl font-bold mb-4">
      Confirmar reserva
    </h2>

    <p class="text-gray-400 mb-6">
      {{ room.roomType }} — $ {{ room.price | number }}
    </p>

    <form [formGroup]="form" class="flex flex-col gap-4">

      <input formControlName="fullName"
        placeholder="Nombre completo"
        class="bg-[#111213] border border-white/10 rounded p-3" />

      <input formControlName="email"
        placeholder="Correo electrónico"
        class="bg-[#111213] border border-white/10 rounded p-3" />

      <input formControlName="document"
        placeholder="Documento"
        class="bg-[#111213] border border-white/10 rounded p-3" />

      <input formControlName="phone"
        placeholder="Teléfono"
        class="bg-[#111213] border border-white/10 rounded p-3" />

      <div class="flex gap-3 mt-4">
        <div class="flex gap-3 mt-4">
          <button
            type="button"
            (click)="close()"
            class="border border-[#8B0000] text-[#cc3a3a] rounded-lg px-4 py-2">
            Cancelar
          </button>

          <button
            type="button"
            (click)="reserve()"
            [disabled]="form.invalid"
            class="bg-linear-to-r from-[#6E2A35] to-[#A72027] text-white rounded-lg px-4 py-2 w-full">
            Pagar y reservar
          </button>
        </div>
      </div>

    </form>
  }
</div>