<div class="w-sm h-40 flex flex-col gap-6 ">

  <div class="flex bg-[#F7E8E3] rounded-xl overflow-hidden shadow-md w-full">

    <!-- LADO IZQUIERDO -->
    <div class="w-2/3 flex flex-col justify-center p-5">
      <h2 class="text-xl font-extrabold text-[#4A2A2A] uppercase">
        {{ cardOferta.nombre }}
      </h2>

      <p class="text-sm text-[#4A2A2A] text-base">
        Ahorra Hasta un 20% con una oferta escapada
      </p>

      <app-button-01 [text]="'Reservar ahora'" class="w-30"></app-button-01>

    </div>

    <!-- LADO DERECHO (IMAGEN) -->
    <div class="w-1/2">
      <img [src]="cardOferta.image" alt="Oferta" class="w-full h-full object-cover"/>
    </div>

  </div>

</div>