<div class="min-h-screen flex items-center justify-center px-5 text-white">

  <div class="w-full max-w-md text-center">

    <h1 class="text-4xl font-bold mb-8 tracking-wider">INICIAR SESIÓN</h1>

    <p class="text-sm text-gray-300 mb-10">
      Hola, bienvenido de nuevo. Estás a punto de iniciar sesión en UBIK,
      si aún no estás registrado puedes registrarte 
      <a href="#" class="text-red-400 font-bold hover:underline">aquí</a>.
    </p>

    <form class="flex flex-col gap-4">

      <app-input
        label="Ingrese su correo electrónico"
        placeholder="Correo electrónico"
        type="email">
      </app-input>

      <app-button-01 text="Ingresar"></app-button-01>

    </form>

    <p class="mt-8 mb-5 text-sm text-gray-300">Continuar con:</p>

    <div class="flex justify-center gap-8 text-3xl">
      <i class="fab fa-google bg-clip-text text-transparent bg-gradient-to-br from-[#4285f4] via-[#34a853] to-[#fbbc05] cursor-pointer hover:scale-125 transform transition"></i>
      <i class="fab fa-facebook text-[#1877f2] cursor-pointer hover:scale-125 transform transition"></i>
    </div>

  </div>

</div>